<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>item0</string>
		<key>subtitle</key>
		<string>subtitle0 The OS X implementation of the Objective-C runtime library is unique to the Mac. For other platforms, the GNU Compiler Collection provides a different implementation with a similar API. This document covers only the OS X implementation.</string>
		<key>image_name</key>
		<string>photo0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item1</string>
		<key>subtitle</key>
		<string>subtitle1</string>
		<key>image_name</key>
		<string>photo1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item2</string>
		<key>subtitle</key>
		<string>subtitle2 I am drawing UILabels programmatically. They get their sizes from a database. So I cannot just use sizeToFit. I have already implemented a function that redraws UILabels with a passed ratio. So all I need to find is the text in UILabel from my view that would require the maximum ratio to redraw UILabels. So finally I need to do something like this:</string>
		<key>image_name</key>
		<string>photo2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>item3</string>
		<key>subtitle</key>
		<string>subtitle3</string>
		<key>image_name</key>
		<string>photo3</string>
	</dict>
</array>
</plist>
